body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    border: 1px solid #000000;
    border-style: groove;
    background-color: aliceblue;
}
h1:hover{
    color: aquamarine;
    background-color: #000000;
    
    border-radius: 5px;
}
aside{
    border: 1px solid black;
    
}